{% extends 'base_layout.html' %}

{% block content %}
<h1>{{userDetails.GitHubUsername}}</h1>
{% if userDetails.isTeacher %}
    <h1>{{ userDetails.GitHubUsername }}</h1>
{% endif %}

<div class="courses">
    <h2 id="header">Courses:</h2>
    {% for course in courses %}
        <div class="course">
            <li><a href="course">{{course.Title}}</a></li>
        </div>
    {% endfor %}
</div>
<div class="grades">
    <h2 id="header">Grades:</h2>
    {% for submit in submits %}
        <div class="grade">
            <p class="assn">{{submit.AssignmentID.Title}}: {{submit.Grade}}</p>
            <p>- Submitted: {{submit.SubmittedOn}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}