<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is an assignment!</title>
</head>
<body>
    <h1>Generic Important Assignment</h1>
    <p>Standard issue work that totally will not be completed last minute!</p>
    <div class="assignments">
        <h1>{{ course.Title }}</h1>
        <h3>{{ assignment.Title }}</h3>
        <p>{{ assignment.Description }}</p>
        <h4>Due: {{ assignment.DueDate }}</h4>
        <h4>Pts Possible: {{ assignment.PossiblePts }}</h4>
        <h4># Attempts: {{ assignment.NumAttempts }}</h4>
        <form class="site-form" action="{% url 'assignment_details' course_id=course.Slug assn_name=assignment.Slug %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Test My Code!">
        </form>
    </div>
    <!-- Message alert with return value from test_runner.py-->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>