{% extends 'base_layout.html' %}

{% block content %}
<h1>Generic Important Assignment</h1>
<p>Standard issue work that totally will not be completed last minute!</p>
<div class="assignments">
    <h3>Assignments:</h3>
        {% for assignment in assignments %}
            <div class="assignment">
                <p>{{assignment.Title}}</p>
                <p>{{assignment.Description}}</p>
                <p>{{assignment.DueDate}}</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="run_test">Run Test</button>
                </form>
            </div>
        {% endfor %}
</div>
{% endblock %}
