{% extends 'base_layout.html' %}

{% block content %}
<h1>Generic Important Assignment</h1>
<p>Standard issue work that totally will not be completed last minute!</p>
<div class="assignments">
    <h3>Assignments:</h3>
        {% for assignment in assignments %}
            <div class="assignment">
                <a href="{% url 'assignment_details' course_id=assignment.CourseID.Slug assn_name=assignment.Slug %}">{{assignment.Title}}</a>
                <p>{{assignment.Description}}</p>
                <p>{{assignment.DueDate}}</p>
            </div>
        {% endfor %}
</div>
{% endblock %}
