{% extends 'base_layout.html' %}

{% block content %}

{% for course in courses %}
    {% if userDetails.isTeacher %}
        <h3><a href="{% url 'course_details' course_id=course.Slug %}">{{course.Title}}</a></h3>
        <div class="course">
            <p>{{course.Description}}</p>
        </div>
    {% else %}
        <h3><a href="{% url 'course_details' course_id=course.CourseID.Slug %}">{{course.CourseID.Title}}</a></h3>
        <div class="course">
            <p>{{course.CourseID.Description}}</p>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}