{% extends 'base_layout.html' %}

{% block content %}
    <h1>That one course with important information!</h1>
    <p>Totally will not become outdated knowledge by graduation!</p>
    <div class="courses">
        <h1>{{ course.Title }}</h1>
        {% for assignment in assignments %}
            <h3><a href="{% url 'assignment_details' course_id=course.Slug assn_name=assignment.Slug %}">{{ assignment.Title }}</a></h3>
        {% endfor %}
        <a href="{% url 'create_assignment' course_id=course.Slug %}">Add Assignment</a>
    </div>
    <a href="{% url 'grades' course_id=course.Slug %}">View Grades</a>
{% endblock %}