<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a course!</title>
</head>
<body>
    <h1>That one course with important information!</h1>
    <p>Totally will not become outdated knowledge by graduation!</p>
    <div class="courses">
        {% for enrolled_course in enrolled_courses %}
        <h3><a href="{% url 'course_details' course_id=enrolled_course.CourseID.Slug %}">{{ enrolled_course.CourseID.Title }}</a></h3>
            <div class="course">
                <p>{{ enrolled_course.CourseID.Description }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>