{% extends 'base_layout.html' %}

{% block content %}
    <div class="courses">
        <h1>{{ course.Code }} - {{ course.Title }}</h1>
        <h3>{{ course.Description }}</h3>
        <h3>Instructor: <a href="mailto:{{ course.InstructorID.email }}">{{ course.InstructorID.first_name }} {{ course.InstructorID.last_name }}</a></h3>
        <hr>
        <h3><a href="{% url 'assignments' course_id=course.Slug %}">View Assignments</a></h3>

        
    </div>
    {% if userDetails.isTeacher %}
        <h3><a href="{% url 'create_assignment' course_id=course.Slug %}">Create Assignment</a></h3>
    {% else %}
        <h3><a href="{% url 'grades' course_id=course.Slug %}">View Grades</a></h3>
    {% endif %}
{% endblock %}