{% extends 'base_layout.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load crispy_forms_tags %}

{% block content %}
    {{ form.media }}
<div class="w-75 mx-auto my-3">
    <h1>Create an assignment!</h1>
    <p>Note: All Date-times must be inputted in format: 2020-03-10 18:45:00.000000</p>
    <form class="site-form" action="{% url 'create_assignment' course_id=course.Slug %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" value="Create Assignment">
        <a href="{% url 'account' %}" class="btn btn-primary">Cancel</a>
    </form>    
</div>

{% endblock %}