<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Assignment</title>
</head>
<body>
    <h1>Create an assignment here!</h1>
    <p>Note: All Date-times must be inputted in format: 2020-03-10 18:45:00.000000</p>
    <form class="site-form" action="{% url 'create_assignment' course_id=course.Slug %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Create Assignment">
    </form>
</body>
</html>