{% extends 'base_layout.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="w-75 mx-auto my-3">
    <h1>Edit the Course!</h1>
    <form class="site-form" action="{% url 'edit_course' course_id=course.Slug %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="next" value="{% url 'course_details' course_id=course.Slug %}">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'course_details' course_id=course.Slug %}" class="btn btn-primary">Cancel</a>
    </form>
</div>

{% endblock %}