{% extends 'base_layout.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="w-50 mx-auto m-5 text-center">
    <h1>Enroll in a Course!</h1>
    <form class="site-form" action="{% url 'enroll' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Enroll">
    </form>
</div>

<!-- Message alert for if the "password" is invalid-->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-danger w-50 mx-auto text-center" role="alert">{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}