{% extends 'base_layout.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="w-50 mx-auto m-5 text-center">
    <h1>IDEal Classroom</h1>
    <p>As an authorized user, please enter your valid credentials!</p>
    <form class="site-form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <input type="submit" value="Login">&nbsp; &nbsp;<a href="{% url 'register' %}">Register</a>
    </form>
</div>
{% endblock %}